@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Website</h1>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-4 text-center buttons">
                <a asp-controller="Course" asp-action="Index" class="btn btn-outline-primary" style="font-size:30px">Courses</a>
                <a asp-controller="Module" asp-action="Index" class="btn btn-outline-primary" style="font-size:30px">Modules</a>
                <a asp-controller="StoreItem" asp-action="Index">Purchase Request</a>
            </div>
            <div class="col-8 text-center">
                <img src="/Images/Blog_A-Guide-to-Selecting-the-Right-LMS-1.jpg" />
            </div>
        </div>
    </div>
</div>